@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;700&display=swap');

$very-dark-mostly-black-blue: hsl(234, 17%, 12%);
$dark-desaturated-blue: hsl(236, 21%, 26%);
$attribution-link: hsl(228, 45%, 44%);
$very-dark-blue: hsl(235, 16%, 14%);
$grayish-blue: hsl(237, 18%, 59%);
$soft-red: hsl(345, 95%, 68%);
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	font-family: 'Red Hat Text', sans-serif;
}

body {
	background-color: $very-dark-mostly-black-blue;
	color: $white;
	line-height: 1.5;
}

main {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	background: url(../images/bg-stars.svg) no-repeat top left,
		url(../images/pattern-hills.svg) no-repeat bottom left / 100%;
}

.container {
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 25rem;
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 8rem;
}

h1 {
	font-size: 2.5rem;
	font-weight: 700;
	text-align: center;
	margin-bottom: 2rem;
	letter-spacing: 10px;
	text-transform: uppercase;
}

.timer {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5rem;

	.days,
	.hours,
	.minutes,
	.seconds {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		gap: 4rem;
		text-transform: uppercase;
	}

	.days .number,
	.hours .number,
	.minutes .number,
	.seconds .number {
		background: $dark-desaturated-blue;
		border-radius: 0.8rem;
		padding: 3rem 5rem;
		font-size: 10rem;
		color: $soft-red;
		font-weight: bold;
		box-shadow: 0 15px 0px 2px rgba($color: $black, $alpha: 0.3);
		position: relative;
		overflow: hidden;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 50%;
			border-bottom: 2px solid rgba($color: $black, $alpha: 0.2);
			z-index: 1;
			transform: perspective(1000px) rotateX(0deg);
		}

		.dot-1,
		.dot-2 {
			position: absolute;
			top: 50%;
			width: 15px;
			height: 15px;
			border-radius: 50%;
			z-index: 2;
			background: rgba($color: $very-dark-mostly-black-blue, $alpha: 1);
		}

		.dot-1 {
			left: 0%;
			transform: translate(-50%, -50%);
		}

		.dot-2 {
			right: 0%;
			transform: translate(50%, -50%);
		}
	}

	.days .text,
	.hours .text,
	.minutes .text,
	.seconds .text {
		font-weight: bold;
		font-size: 1.5rem;
		color: $grayish-blue;
		letter-spacing: 7px;
	}
}

.social-icons {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2rem;

	.icon {
		font-size: 2.5rem;
		transition: all 0.3s ease-in-out;
		color: $grayish-blue;

		&:hover {
			color: $soft-red;
		}
	}
}

.attribution {
	margin-top: 5rem;
	font-size: 11px;
	text-align: center;
	background: $very-dark-blue;
	padding: 2rem 3rem;
	border-radius: 0.5rem;
	font-size: 1.2rem;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;

	& a {
		color: $attribution-link;
	}
}
